 .parent{
    display:flex;
    flex-direction:row;
    justify-content: center;
    }
    .parent>div{
      margin:0.5%;
      padding:1%;
      border: solid black;
    }
    .childone{
      border:1px solid #ddd;
      width:30%;
      height: 50%;
      margin:1%;
      padding:1%;
      background: pink;
    }
    .childtwo{
      border:1px solid #ddd;
      width:60%;
      height: 50%;
      margin:1%;
      padding:1%;
    }
    img{
border-radius: 50%;
    }



    @media only screen and (min-width: 320px) and (max-width: 480px){

     .parent{
      display:flex;
      flex-direction: row;
    }
    .childone{
      border:1px solid #ddd;
      width:90%;
      height: 50%;
      margin:1%;
      padding:1%;
      background: pink;
    }
    .childtwo{
      border:1px solid #ddd;
      width:90%;
      height: 50%;
      margin:1%;
      padding:1%;
    }
}

 @media only screen and (min-width: 481px) and (max-width: 768px){

     .parent{
      display:flex;
    flex-direction: row;
    }
     .parent>div{
       margin:0.5%;
      padding:1%;
        border: solid black;
      }
      .childone{
        border:1px solid #ddd;
        width:90%;
        height: 50%;
        margin:1%;
        padding:1%;
        background: pink;
      }
      .childtwo{
        border:1px solid #ddd;
        width:90%;
        height: 50%;
        margin:1%;
        padding:1%;
      }
    img{
      border: 2px solid red;

    border-radius: 50%;
  }
}

   @media only screen and (min-width: 769px) and (max-width: 1024px){

     .parent{
      display:flex;
    flex-direction:row;
    }
    .childone{
      border:1px solid #ddd;
      width:30%;
      height: 50%;
      margin:1%;
      padding:1%;
      background: pink;
    }
    .childtwo{
      border:1px solid #ddd;
      width:60%;
      height: 50%;
      margin:1%;
      padding:1%;
    }
    /*img{
      border: 2px solid red;

    border-radius: 50%;
  }*/
}
